/*this whole file is in charge of designing, resizing, and formatting the different components of the html in FitnessTracker.tsx */


@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import 'https://fonts.google.com?css?family=Outfit';


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-image: url("background.png") */
    background-color: white;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.logo_container_fitness {
  /* using flex container to handle the title and logo image*/
  display: flex;
  align-items: center;
}

.logopic_fitness {
  margin-right: 10px; /* Add some margin between the image and text */
  margin-top: 10px;
  height: 40px;
  width: auto;
}

.logo_fitness {
  font-family: 'Ranchers', sans-serif;
  color: #7BAB7A;
  font-size: 40px;
  margin-top: 10px;
}

.track
{
    font-family: "Outfit";
    font-weight:bold;
    color: #7bab7ac6;
    font-size: 24px;
    margin-top: 20;

}

.tracker-title{
  font-weight:bold;
  font-size: 35px;
  text-align: center;
}

.track-text{
  margin-bottom: -65px;
  margin-left: 120px;

}

.textbox-container1 {
    display: flex;
    resize: none;
    flex-direction: column;
    overflow: hidden;
    color: white;
    font-family: "Outfit";
  }


  .textbox-container2 {
    display: flex;
    resize: none;
    flex-direction: column;
    overflow: hidden;
    color: white;
    font-family: "Outfit";

  }

  .textbox-container3 {
    resize: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    font-family: "Outfit";
  }
  
  .textbox-container4 {
    resize: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    font-family: "Outfit";

  }

  .textbox-label {
    font-family: "Outfit";
    font-weight:bold;
    text-align: center;
    vertical-align: top;
    background-color: #7BAB7A;
    padding: 5px;
    width: 200px;
  }
  
  .textbox-input {
    border: 1px solid transparent;
 
    background-color: #7bab7ac6;
    width: 200px;
    height: 200px;
    padding: 5px;
    flex-grow: 1; 
    vertical-align: top;
    color: black;
  }

  p
  {
      font-size: 30px;
  }


  .search-bar
  {
      display: flex;
      font-size: 25px;
  }

  .stopwatch-container
  {
    font-size: 20px;
    margin-left: -25px;
    justify-content: center;
    align-items: center;

    color: white;
    margin-top: -20px;
    padding: 10px;

  }

  .past-workouts
  {
    width: 100%;
    height: 100%;
    background-color: #7bab7ac6;
    overflow: hidden;
    padding: 10px;
    margin-top: -25px;
  }

.past-text
{
  font-size: 20px;
  color: white;
  font-family: "Outfit";
  font-weight:bold;
  color: #7bab7ac6;
  font-size: 30px;
  margin-top: -20px;
}

* {
  box-sizing: border-box;
}

.grid-container{
  margin-bottom: -40px;
}


.grid-item{
  margin-bottom: -40px;
}

.wrapper {
  max-width: 1400px;
  margin: 20px auto;
}

.wrapper > div {
  border: 10px solid transparent;
  padding: 1em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(10px, auto);
}

.two {
  grid-column: 2;
  grid-row: 2;
}
.three {
  grid-column: 1;
  grid-row: 2;
}
.four {
  grid-column: 3;
  grid-row: 2;
}
.five {
  grid-column: 4;
  grid-row: 2;
}
.six {
  grid-column: 5/8;
  grid-row: 2/4;
}

.seven {
  grid-column: 5/8;
  grid-row: 4/6;
}

.eight {
  grid-column: 1/5;
  grid-row: 3/6;
}

textarea {
  resize: none;
  /* Add additional positioning if needed */
}

/*grid format inspired by https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout*/
