/*this whole file is in charge of designing, resizing, and formatting the different components of the html in fitnessSearch.tsx */


.search-input {
    /* Add more styles as needed */
    background-color: #7c7f65;
    height: 40px;
    width: 350px;
    border-radius: 10px;
    font-family: "Outfit";
    font-weight:bold;
    border-color: #7c7f65;
    margin-left: 40px;
    margin-top: 50px;
  }

.search-input::placeholder
{
    color: rgba(244, 243, 239, 0.855);
    font-size: 30px;
    border-color: #d9d9d9;
}

table.tbl{
    flex:auto;
    background-color: #7c7f65;
    height: 40px;
    width: 350px;
    border-radius: 10px;
    font-family: "Outfit";
    font-weight:bold;
    color: #d9d9d9;
    border-color: #7c7f65;
    margin-left: 40px;

}

th.search, td.search {
    border: 1px solid;
    width: 50px;
    border-color: #7c7f65;
  }