/*this whole file is in charge of designing, resizing, and formatting the different components of the html in FitnessTracker.tsx */


@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import 'https://fonts.google.com?css?family=Outfit';


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("background.png")
}

.logo {
    height: 30%;
    width: 100%;
    padding: 10px;
    font-size: 100px;
    margin: 0px;
    font-family: 'Ranchers',sans-serif; 
    color: #d9d9d9
}


.track
{
    font-family: "Outfit";
    font-weight:bold;
    color: rgba(244, 243, 239, 0.855);
    font-size: 70px;
    position:relative; left:80px; top:10px;
}

.textbox-container1 {
    display: flex;
    resize: none;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;

  }


  .textbox-container2 {
    display: flex;
    resize: none;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;


  }

  .textbox-container3 {
    resize: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .textbox-container4 {
    resize: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;

  }

  .textbox-label {
    font-family: "Outfit";
    font-weight:bold;
    text-align: center;
    vertical-align: top;
    background-color: #9E7B9B;
    padding: 5px;
    width: 200px;
  }
  
  .textbox-input {
    border: 1px solid transparent;
    background-color: #9E7B9B;
    width: 200px;
    height: 200px;
    padding: 5px;
    flex-grow: 1; 
    vertical-align: top;
    color: black;
  }

  p
  {
      font-size: 30px;
  }


  .search-bar
  {
      display: flex;
      font-size: 25px;
  }

  .stopwatch-container
  {
    font-size: 25px;
    margin-left: -25px;
    justify-content: center;
    align-items: center;
    color: #d9d9d9;
  }

  .past-workouts
  {
    width: 57%;
    height: 250px;
    background-color: #616283;
    border-radius: 10px;
    overflow: hidden;
  }

.past-text
{
  font-size: 20px;
  color: #d9d9d9;
  margin-bottom: 10px;
  font-family: "Outfit";
  font-weight:bold;
  color: rgba(244, 243, 239, 0.855);
  font-size: 30px;
}

* {
  box-sizing: border-box;
}


.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper > div {
  border: 10px solid transparent;
  border-radius: 5px;;
  padding: 1em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(10px, auto);
}

.two {
  grid-column: 2;
  grid-row: 2;
}
.three {
  grid-column: 1;
  grid-row: 2;
}
.four {
  grid-column: 3;
  grid-row: 2;
}
.five {
  grid-column: 4;
  grid-row: 2;
}
.six {
  grid-column: 5/8;
  grid-row: 2/4;
}

.seven {
  grid-column: 5/8;
  grid-row: 4/6;
}

.eight {
  grid-column: 1/5;
  grid-row: 3/6;
}

textarea {
  resize: none;
  /* Add additional positioning if needed */
}

/*grid format inspired by https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout*/