/* implements styling for the Home.tsx file */

@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Ranchers&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.home-page {
  /* display: grid;  */
  grid-template-columns: 3fr 1fr;
  /* background-color: #374a67; */
  height: 100vh;
  width: 100%;
  padding: 10px;
}

.logo_container_home {
  /* using flex container to handle the title and logo image*/
  display: flex;
  align-items: center;
}

.logopic_home {
  margin-right: 10px; /* Add some margin between the image and text */
  margin-top: 10px;
  height: 40px;
  width: auto;
}

.logo_home {
  font-family: 'Outfit', sans-serif;
  color: #d9d9d9;
  font-size: 40px;
  margin-top: 10px;
}

.plannnova {
  font-family: 'Outfit', sans-serif;
  font-size: 40px;
  margin-top: 7px;
  font-weight: bold;
}

.nav-buttons {
  height: 10%;
  width: 150%;
  margin-right: -95px;
  font-family: 'Outfit';
  align-items: center;
}
.links{
    font-family: 'Outfit';
    text-decoration: none;
    padding: 20px;
}

.line {
  width: 100%;
  margin-top: 50px;
  border: none;
  border-bottom: 2px solid;
}

.add-event-button {
  border-radius: 15px;
  height: 25px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  background:none; 
  border:none; 
  font-family: 'Outfit';
  font-size: 20px;
  font-weight: bold;
  color: #365f86;
  right: 35px;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.add-event-button:hover { /*change button on hover*/
  background-color: #365f86; 
  color: white; 
}

.add-class-button {
  position: absolute;
  top: -5px;
  right: 0px;
  border: none;
  background:none; 
  font-family: 'Outfit';
  font-size: 30px;
  font-weight: bold;
  color: #365f86;
}

.delete-class-button {
  position: absolute;
  top: -7px;
  right: 20px;
  border: none;
  background:none; 
  font-family: 'Outfit';
  font-size: 30px;
  font-weight: bold;
  color: #365f86;
}

.my-classes-title {
  font-family: 'Outfit';
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: bold;
  color: #365f86;
}

.class-bullet {
  width: 5px;
  height: 5px;
  background-color: #365f86;
  border-radius: 50%;
  margin-right: 7px;
  margin-left: 20px;
}

.class-text {
  font-family: 'Outfit';
  font-size: 16px;
}

.class-list-text:last-child {
  margin-bottom: 100px;
}

.add-note-button {
  position: absolute;
  top: -5px;
  right: 0px;
  border: none;
  background:none; 
  font-family: 'Outfit';
  font-size: 30px;
  font-weight: bold;
  color: #365f86;
}

.delete-note-button {
  position: absolute;
  top: -7px;
  right: 20px;
  border: none;
  background:none; 
  font-family: 'Outfit';
  font-size: 30px;
  font-weight: bold;
  color: #365f86;
}

.add-class-button:hover,
.delete-class-button:hover,
.add-note-button:hover,
.delete-note-button:hover {
  color: #f0f0f0; /*add hover to these buttons*/
}

.my-notes-title {
  font-family: 'Outfit';
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: bold;
  color: #365f86;
}

.note-list-text {
  display: flex;
  align-items: center; 
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 20px;
  color: #365f86;
}

.note-text {
  font-family: 'Outfit';
  font-size: 16px;
  word-wrap: break-word; /* or word-wrap: wrap; */
  width: 700px;
}

.class-list-box {
  height: 105px;
  width: 500px;
  margin-left: 10px;
  overflow-y: auto;
  flex-wrap: wrap;
  background-color: #e0ebf5;
  margin-top: 50px;
  margin-left: 45px; /* Adjust margin-left for proper spacing */
  position: relative;
}

.class-list-text {
  display: flex;
  align-items: center; 
  margin-bottom: 5px;
  margin-right: 0px;
  color: #365f86;
}

.notes-box {
  margin-left: 10px;
  overflow-y: auto;
  flex-wrap: wrap;
  height: 105px;
  width: 700px;
  background-color: #e0ebf5;
  margin-top: 50px;
  margin-left: 20px; /* Adjust margin-left for proper spacing */
  position: relative;
}

.top-grid {
  display: flex;
  justify-content: flex-start; /* Add space between the two boxes */
}


.delete-note-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.notes-container, .class-bubble-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.note-bubble, .class-bubble {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #f0f0f0;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: #365f86;
}

.note-bubble:hover, .class-bubble:hover {
  background-color: #e0e0e0;
}

.homepage-cancel {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.cancel:hover {
  background-color: #e0e0e0;
}

.enter-note-title, .delete-note-title, .delete-class-title, .enter-class-name-title, .add-event-title {
  font-family: 'Outfit';
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #365f86;
}

.add-note-sub-button {
  font-family: 'Outfit';
  font-size: 15px;
  margin-bottom: 10px;
  color: white;
  background-color: #365f86;
  width: 100px;
  height: 30px;
  margin: 20px 20px 20px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.homepage-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 500px;
  height: 250px;
  font: 'Outfit';
}

.homepage-popup-content {
  text-align: center;
}

.note-textarea {
  width: 400px;
  height: 100px;
  border-color: #365f86;
}

.note-textarea::placeholder {
  color: #365f86;
  font-size: 16px;
  font-family: 'Outfit';
}

.delete-note-popup, .delete-class-popup, .add-class-popup, .add-event-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font: 'Outfit'
}

.delete-note-popup-content, .delete-class-popup-content, .add-class-popup-content, .add-event-popup-content {
  text-align: center;
}

.delete-note-sub-button, .delete-class-sub-button {
  font-family: 'Outfit';
  font-size: 15px;
  margin-bottom: 10px;
  color: white;
  background-color: #365f86;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-note-cancel, .delete-class-cancel, .add-class-cancel, .add-event-cancel {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Outfit';
  font-size: 15px;
  padding: 7px 20px;
}

.add-class-input {
  width: 200px;
  height: 28px;
  border: 1px solid #365f86;
}

.add-class-input::placeholder {
  color: #365f86;
  font-size: 16px;
  font-family: 'Outfit';
}

.add-class-popup {
  width: 300px;
}

.add-class-sub-button, .add-event-sub-button {
  font-family: 'Outfit';
  font-size: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: white;
  background-color: #365f86;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.title-input, .start-date-input{
  margin-right: 10px;
  outline: #365f86; 
}

.title-input {
  width: 220px;
}

.end-date-input{
  outline: #365f86; 
}