/* css styling for the List.tsx file */
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import 'https://fonts.google.com?css?family=Outfit';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("background.png");

}

.logo {
    height: 30%;
    width: 100%;
    padding: 10px;
    font-size: 100px;
    margin: 0px;
    font-family: 'Ranchers',sans-serif; 
    color: #d9d9d9
}

.title
{
  font-family: "Outfit";
  color: #01204E;
  font-size: 45px;
  margin-left: 20px;

}
.sub-title{
    font-family: "Outfit";
    color: #01204E;
    font-size: 20px;
    margin-left: 20px;
}

.button-list {
    border-radius: 15px;
    height: 25px;
    background-color: #616283;
    transform: translateX(-50%), translateY(-50%);
    color: white;
    margin: 50px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.grid-container {
    display: flex;
    justify-content: space-between;
    /* You can also add properties like padding, width, and other styles as needed */
  }

.grid-container2 {
    display: flex;
    gap: 0px;
    justify-content: center;
    grid-gap: 30px;
    /* You can also add properties like padding, width, and other styles as needed */
}

.grid-item2 > div {
    text-align: center;
    margin: 10px;
  
}

.List
{
  padding: 0px;
  border: 2px solid #a6d2f4;
  border-radius: 10px;
  width: 240px;
  height: 550px;
  background-color: rgba(220, 194, 251, .3);
  color:azure;
  font-family: "Outfit";
  
}

.list-title {
    font-size: 36px;
}

.list-items {
    display: flex;
    flex-direction: column;
    float: left;
    
}
.list-text {
    text-align: left;
    font-size: 18px;
}