@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import 'https://fonts.google.com?css?family=Outfit';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("background.png")

}

.logopic {
    height:100px;
    position: relative;
    top: 17px; left: 9px;
}

.logo {
    height: 30%;
    width: 100%;
    padding: 0px;
    font-size: 100px;
    margin: 0px;
    font-family: 'Ranchers',sans-serif; 
    color: #d9d9d9
}
nav-buttons {
    height: 10%;
    width: 150%;
    margin: 10px 20% 50px -20%;
    font-family: 'Outfit';
    align-items: center;
    color: #374A67;
  }
  .links{
      font-family: 'Outfit';
      color: black;
      text-decoration: none;
      padding: 20px;
  }
  .links:hover {
    color: #cb9cf2
  }
  .buttons {
    background-color: transparent;
    color: black;
    border: none;
    padding: 20px;
    
  }
  
  .button:hover {
    border: 1px;
    border-radius: 3px;
    background: #cb9cf2
  }
  .grid-container {
    display: flex;
    justify-content: space-between;
    /* You can also add properties like padding, width, and other styles as needed */
  }
  .grid-container2 {
    display: flex;
    gap: 0;
    justify-content: center;
    grid-gap: 0;
    /* You can also add properties like padding, width, and other styles as needed */
  }
  .grid-container3 {
    display: flex;
    justify-content: start;
  }
  
  .grid-item {
    /* You can add styling for the grid items here */
  }
  
  /* Additional styles for the inner divs (optional) */
  .grid-item > div {
    text-align: center;
  
  }
  .grid-item2 > div {
    text-align: center;
    margin: 10px;
  
  }
  .title
  {
    font-family: "Outfit";
    color: #01204E;
    font-size: 45px;
    margin-left: 20px;

  }
  .mealbox
  {
    padding: 0px;
    border: 2px solid #a6d2f4;
    border-radius: 10px;
    width: 180px;
    height: 400px;
    background-color: rgba(220, 194, 251, .3);
    color:azure;
    font-family: "Outfit";
    
  }
  .input
  {
    position: static;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 170px;
    background-color: rgba(220, 194, 251, 0);
    font-family: "Outfit";
    color: #01204E;
  }

  .input::placeholder {
    color: #01204E;
  }
  