@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(255, 0, 0, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Outfit";
  color: white;
}

.react-calendar {
  width: 900px;
  height: 900px;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  padding: 10px;
  font-family: "Outfit";
}

.react-calendar__navigation__label {
  color: #616283;
}

.react-calendar__navigation__arrow {
  color: #616283;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 50px;
  border: 2px solid black;
}

.react-calendar__month-view__days {
  border: 1px solid #cb9cf2;
  background-color: rgba(255, 0, 0, 0);
}

.react-calendar button {
  border: .5px solid #616283;
}


.react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.4;
    background-color: white
  }
.react-calendar__month-view__days__day--weekend,
.react-calendar__month-view__days__day {
    color: #cb9cf2;
    
  }
.react-calendar__tile--now {
    background:  rgba(255, 0, 0, 0);
  }
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    color: #cb9cf2;
    background-color:rgba(255, 0, 0, 0);
    font-family:"Outfit"

  }

.react-calendar_tile--active {
  background-color: black;
}
  
  
.react-calendar__tile--range {
      box-shadow: 0 0 6px 2px black;
}

.App-link {
  color: #616283;
}
.react-calendar__tile:hover {
  background-color: #cb9cf2; 
  color: #cb9cf2;
  border: 2px, #616283;
}

.react-calendar__navigation {
  display: none;
}


.small {
  font-size: 18px;
}
