/* css styling for the Stopwatch.tsx file */

/*stopwatch element formatting*/
.stopwatch
{
    font-family: "Outfit";
    text-align: center;
    margin: 20px;
    padding: 10px;
    padding: 0;
  }
  
  /*Stopwatch display area formatting*/
  .display 
  {
    font-size: 2px;
    margin: 20px;
    text-align: center;
  }
  
  /*Stopwatch controls formatting*/
  .controls 
  {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
  }
  
  /*Stopwatch buttons in controls*/
  .controls button
  {
    font-size: 15px;
    padding: 5px 10px;
    margin: 40px;
    cursor: pointer;
    background-color: #7BAB7A;
    color: #d9d9d9;;
    border: none;
    border-radius: 5px;
  }
  
   /*Disabled buttong formatting*/
  .controls button:disabled
  {
    background-color: #d9d9d9;
    cursor: not-allowed;
  }
  
  /*h2 formatting*/
  h2
  {
    color: #d9d9d9;
    font-size: 1.5em;
    margin-bottom: 10px;
  }